body {
  box-sizing: border-box;
  background-color: #239289;
  font-family: "Roboto", sans-serif;
}

.calculator {
  background-color: white;
  border-radius: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 40rem;
  width: 20rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0.07rem;
}

button {
  border: none;
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  font-weight: 400;
  padding: 0;
}
#number0 {
  border-bottom-left-radius: 20px;
}

.calculator .output {
  padding: 1.2rem;
  grid-column: 1 / 5;
  grid-row: 1 / 6;
  display: flex;
  align-items: flex-end;
  flex-direction: column-reverse;
  word-wrap: break-word;
  word-break: break-all;
}

.calculator .output .previousOutput {
  color: #64cbc2;
  font-size: 1.5rem;
}

.calculator .output .currentOutput {
  color: black;
  font-size: 3rem;
  letter-spacing: 0.1rem;
}

.calculator .equals {
  border-bottom-right-radius: 20px;
  grid-column: 3 / 5;
  background-color: #29b0a5;
  font-size: 45px !important;
}

.calculator .operation {
  background-color: #bfece9;
  font-size: 35px !important;
}

.calculator .numberButtons {
  background-color: #f5f5f5;
}

.calculator .clear {
  grid-column: 1/4;
  background-color: #14bb3e;
}
